{% extends 'ChemaArsBundle::layout.html.twig' %}

{% block title %}Vouchers{% endblock %}

{% block body %}
<article class="container">

	<section class="row">
		<header class="col-xs-12">
			<h1>Vouchers (<span class="vouchers-total">{{vouchers|length}}</span>)</h1>
		</header>
	</section>

	<section class="row">
		<table class="col-xs-12 table table-condensed">
			<tr>
				<th>Shop</th>
				<th>Code</th>
				<th>Value</th>
	
				<th>Start Date</th>
				<th>Expiry Date</th>
				<th>Date Found</th>
				<th>Actions</th>
			</tr>
			{% for voucher in vouchers %}
				<tr class="voucher">
					<td>{{voucher.shop}}</td>
					<td><a href="{{voucher.url}}">{{voucher.code}}</a></td>
					<td>{{voucher.value}}</td>
	
					<td>{{voucher.startDate|date("m/d/Y")}}</td>
					<td>{{voucher.expiryDate|date("m/d/Y")}}</td>
					<td>{{voucher.dateFound|date("m/d/Y H:m:s")}}</td>
					<td><button class="btn btn-danger voucher-delete" voucher_id="{{voucher.id}}">Delete</button></td>
				</tr>
			{% else %}
				<tr>
					<td colspan="6">Keine vouchers</td>
				</tr>
			{% endfor %}
		</table>
	</section>
	
</article>
{% endblock %}